.page{
    .sidebar{
        width: 250px;
        background-color: #eee;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.3s;
        padding: 15px;
    }
}